body {

    background: rgb(48, 39, 212);
    background: linear-gradient(90deg, rgba(48, 39, 212, 1) 0%, rgba(97, 82, 238, 1) 33%, rgba(19, 190, 244, 1) 100%);
}

.imagen1 {

    width: 80%;
    display: block;
    margin-top: 50px;
    margin-bottom: 0px;

}

.imagen2 {

    width: 80%;
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;

}

.card-game {
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.507);
    border-radius: 30px;
    display: flex;
}

.btn-primary {
    /*background-color: #13BEF4;*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    /*border-color: #13BEF4;*/
}

.btn-secondary {
    /*background-color: #3027D4;*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    /*border-color: #3027D4*/
}

.tablero {
    height: 400px;
    width: 400px;
}

.card {
    width: 420px;
}


.game-board {

    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}